.login
	width: 420px
	max-width: 90%
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	fieldset
		border: 0
		padding: 0
		margin: 0
		transition: all ease-in-out .5s

		&[disabled]
			opacity: .5
	&-forgot
		margin-top: -5px
		font-size: 11px
		text-decoration: none
		color: #364041
		display: block
		width: 100%
		text-align: right
	&-links
		display: flex
		justify-content: space-between
		align-items: center
		margin-top: 1em

	&-links-left &-link
		margin-right: 1em

	&-link
		color: #236aea
		color: var(--style-primary-action-background-color)
		font-size: 13px
		text-decoration: none
		padding: 8px 0
		&:not(.login-link-submit)
			svg
				margin-right: 0.3em
	&-error
		color: #ff0000
		font-size: 0.8em
		display: flex
		align-items: center
		flex-shrink: 0
		svg
			margin-right: 0.5em
	&-texts
		display: flex
		justify-content: space-between
		align-items: center
