table tr td.recentlyAddedApiKey
	padding-top: 0

.recentlyAddedApiKey
	&-important
		background: #eea
		padding: .5em
		display: inline-block
		border-radius: 3px

		pre
			margin: 0

	&-copy
		cursor: pointer
		margin-left: .5em
		padding: .5em
		display: inline-block
		font-size: 13px
		width: 150px

		svg
			vertical-align: middle
